<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <div class="herobanner">
      <img src="<%= asset_path "Header_Image-nbn-com-2.png" %>">
      <h1 class="hero_title">win a Google Home, Chromecast Ultra and a year of nbn™</h1>
      <p class="hero_signup">Sign up to any nbn plan before 21 August to go into the draw. Plans start from $40 a month.</p>
      <%= link_to "sign up ►", root_path, class: "signup_button" %>
    </div>
  </div>
</body>
</html>
